@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600;700&family=Libre+Baskerville&family=Radio+Canada:wght@700&display=swap');

body {
  background-color: #10081e;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  opacity: 20px;
  text-align: center;
}

.espace{

  margin-top: 0px;
}

.endd{

  border-radius: 30px;
  color: white;
  
}

.seco{

  color: whitesmoke;
}

.cacposts{
  display: flex;

  margin: 1.5rem 0;}

.logo{

  margin-left: -50px;
}

.cen{

  text-align: center;
  margin-left: 100px;
}

.end{

  color: whitesmoke;

}



